/* Left Section Styles */
.left-section {
  display: block;
  padding: 20px;
  font-size: 1.5rem;
  color: #ff00ff;
}

/* Additional Styles for Left Side */
@media (max-width: 1024px) {
  .hidden {
    display: block;
    /* Ensure the left section is displayed on small screens */
  }

  /* Adjust layout for smaller screens */
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .left-section {
    font-size: 1rem;
    /* Adjust font size for smaller screens */
    margin-bottom: 20px;
  }

  .form-container {
    width: 100%;
    /* Make the form take full width on small screens */
    padding: 10px;
  }
}