<nav class="bg-gray-800 fixed top-0 left-0 w-full shadow-xl z-50">
  <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
    <div class="relative flex h-16 items-center justify-between">
      <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
        <button (click)="responsiveToggleButton()" type="button"
          class="inline-flex items-center justify-center rounded-md p-2 text-gray-400 hover:bg-gray-700 hover:text-white focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white"
          aria-controls="mobile-menu" [attr.aria-expanded]="isToggleOpen.toString()">
          <span class="sr-only">Open main menu</span>
          <svg class="h-6 w-6" *ngIf="!isToggleOpen" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
            stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
          </svg>

          <svg class="h-6 w-6" *ngIf="isToggleOpen" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
            stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
          </svg>
        </button>
      </div>

      <div routerLink="/" class="cursor-pointer flex shrink-0 items-center pl-10 sm:pl-0">
        <span
          class="bg-clip-text text-transparent bg-gradient-to-r from-purple-400 via-pink-500 to-red-500 text-2xl font-bold hover:scale-105 transition-transform duration-200">
          Dibya Ranjan
        </span>
      </div>

      <div class="hidden sm:flex sm:ml-6">
        <div *ngFor="let item of routing" class="flex space-x-4">
          <a [routerLink]="item.path" routerLinkActive="text-blue-400 bg-gray-700"
            [routerLinkActiveOptions]="{ exact: true }"
            class="rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-gray-700 hover:text-white transition duration-150 ease-in-out">
            {{ item.label }}
          </a>
        </div>
      </div>
      <!-- Theme is yet to apply -->
      <div class="absolute inset-y-0 right-0 flex items-center pr-2 space-x-3 sm:static sm:inset-auto sm:ml-6 sm:pr-0">
        <!-- <button (click)="toggleTheme()"
          class=" size-9 bg-gray-700 text-gray-400 hover:text-white focus:outline-none rounded-full">
        </button> -->
      </div>
    </div>
  </div>

  <div class="sm:hidden fixed top-16 w-full bg-gray-800 z-40" id="mobile-menu" *ngIf="isToggleOpen">
    <div *ngFor="let item of routing" class="space-y-1 px-2 pb-3 pt-2">
      <a [routerLink]="item.path" routerLinkActive="text-blue-400 bg-gray-700"
        [routerLinkActiveOptions]="{ exact: true }" (click)="responsiveToggleButton()"
        class="block rounded-md px-5 py-2 text-base font-medium text-gray-300 hover:bg-gray-700 hover:text-white transition duration-150 ease-in-out">
        {{ item.label }}
      </a>
    </div>
  </div>
</nav>