@keyframes bg-rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes bg-move {

  0%,
  100% {
    transform: translateX(0) scale(1.2);
  }

  50% {
    transform: translateX(10px) scale(1.3);
  }
}

@keyframes bg-move-reverse {

  0%,
  100% {
    transform: translateX(0) scale(1.1);
  }

  50% {
    transform: translateX(-10px) scale(1.2);
  }
}

/* Profile Picture Animation */
@keyframes bounce-slow {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }
}

/* Apply Animations */
.animate-bg-rotate {
  animation: bg-rotate 30s linear infinite;
}

.animate-bg-move {
  animation: bg-move 10s ease-in-out infinite;
}

.animate-bg-move-reverse {
  animation: bg-move-reverse 12s ease-in-out infinite;
}

.animate-bounce-slow {
  animation: bounce-slow 5s ease-in-out infinite;
}