<div
  class="container mx-auto p-6 bg-white dark:bg-gray-900 text-gray-900 dark:text-white transition-colors duration-300">
  <!-- Profile Header -->
  <div
    class="bg-gray-100 dark:bg-gray-800 p-12 rounded-xl shadow-xl flex flex-col lg:flex-row items-center lg:items-start justify-center w-full max-w-screen-2xl mx-auto transition-colors duration-300">
    <!-- Profile Image -->
    <div class="lg:w-1/3 mb-6 lg:mb-0">
      <img src="SampleProfilePicture.jpg" alt="Profile Picture"
        class="h-56 w-56 rounded-full border-4 border-blue-500 shadow-lg object-cover mx-auto lg:mx-0 transition-transform transform hover:scale-105" />
    </div>

    <!-- Profile Details -->
    <div class="lg:w-2/3 lg:ml-8 text-center lg:text-left">
      <h2
        class="text-5xl font-bold text-gray-800 dark:text-gray-100 mb-4 hover:text-blue-500 dark:hover:text-blue-400 transition-colors">
        {{ profile.personalInfo.name }}
      </h2>
      <p class="text-xl text-gray-600 dark:text-gray-400 mb-6 italic">{{ profile.personalInfo.bio }}</p>

      <!-- Social Media Icons -->
      <div class="flex gap-4 justify-center lg:justify-start">
        <social-github></social-github>
        <social-linkedin></social-linkedin>
        <social-mail></social-mail>
      </div>
    </div>
  </div>

  <!-- Skills Sections -->
  <div class="grid grid-cols-1 lg:grid-cols-2 gap-8 mt-12">
    <!-- Tech Skills -->
    <app-profile-section-tags title="Tech Skills" [tags]="profile.techSkills"
      tagClass="bg-gradient-to-r from-blue-500 via-indigo-600 to-purple-600">
    </app-profile-section-tags>
    <!-- Programming Languages -->
    <app-profile-section-tags title="Programming Languages" [tags]="profile.programmingLanguages"
      tagClass="bg-gradient-to-r from-emerald-500 via-teal-600 to-cyan-600">
    </app-profile-section-tags>
  </div>

  <div class="grid grid-cols-1 lg:grid-cols-2 gap-8 mt-8">
    <!-- Databases -->
    <app-profile-section-tags title="Databases" [tags]="profile.databases"
      tagClass="bg-gradient-to-r from-orange-500 via-red-600 to-pink-600">
    </app-profile-section-tags>
    <!-- Design Library & Framework -->
    <app-profile-section-tags title="Design Libraries & Frameworks" [tags]="profile.designFrameworks"
      tagClass="bg-gradient-to-r from-violet-500 via-purple-600 to-indigo-600">
    </app-profile-section-tags>
  </div>

  <div class="grid grid-cols-1 lg:grid-cols-2 gap-8 mt-8">
    <!-- Tools -->
    <app-profile-section-tags title="Tools" [tags]="profile.tools"
      tagClass="bg-gradient-to-r from-slate-600 via-gray-700 to-zinc-800">
    </app-profile-section-tags>
    <!-- Operating Systems -->
    <app-profile-section-tags title="Operating Systems" [tags]="profile.operatingSystems"
      tagClass="bg-gradient-to-r from-sky-500 via-blue-600 to-indigo-700">
    </app-profile-section-tags>
  </div>

  <!-- Experience and Education Section -->
  <div class="grid grid-cols-1 lg:grid-cols-2 gap-8 mt-12">
    <app-profile-section-list title="Experience" [items]="experienceItems" borderColorClass="border-blue-500">
    </app-profile-section-list>
    <app-profile-section-list title="Education" [items]="educationItems" borderColorClass="border-green-500">
    </app-profile-section-list>
  </div>

  <!-- Certifications Section -->
  <!-- <div
    class="bg-gray-100 dark:bg-gray-800 p-8 rounded-xl shadow-md mt-12 hover:shadow-lg transition-shadow transition-colors duration-300">
    <h3 class="text-2xl font-bold text-gray-800 dark:text-gray-100 mb-4">Certifications</h3>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
      <div *ngFor="let cert of profile.certifications">
        <app-certification-card [cert]="cert"></app-certification-card>
      </div>
    </div>
  </div> -->
</div>