@keyframes shadowMove {
    0%, 100% {
      box-shadow: 10px 0 20px rgba(255, 255, 255, 0.7), 0 0 10px rgba(255, 255, 255, 0.7);
    }
    50% {
      box-shadow: -10px 0 20px rgba(255, 255, 255, 0.7), 0 0 10px rgba(255, 255, 255, 0.7);
    }
  }

  .shadow-move {
    animation: shadowMove 2s ease-in-out infinite;
  }

  @keyframes glowEffect {
    0% {
      text-shadow: 0 0 3px rgba(255, 255, 255, 0.6), 0 0 5px rgba(0, 102, 255, 0.8);
    }
    50% {
      text-shadow: 0 0 10px rgba(255, 255, 255, 0.9), 0 0 15px rgba(0, 102, 255, 1);
    }
    100% {
      text-shadow: 0 0 3px rgba(255, 255, 255, 0.6), 0 0 5px rgba(0, 102, 255, 0.8);
    }
  }

  .glowing {
    animation: glowEffect 1.5s ease-in-out infinite;
  }